{% load staticfiles %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>HeartWatch</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
      <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
      <meta property="og:title" content="">
      <meta property="og:image" content="">
      <meta property="og:url" content="">
      <meta property="og:site_name" content="">
      <meta property="og:description" content="">
      <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="">
      <meta name="twitter:title" content="">
      <meta name="twitter:description" content="">
      <meta name="twitter:image" content="">
      <!-- Favicon -->
      <link href="{% static 'img/favicon.ico'%}" rel="icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
      <!-- Bootstrap CSS File -->
      <link href="{% static 'heart_attack/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="{% static 'heart_attack/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
      <!-- Main Stylesheet File -->
      <link href="{% static 'heart_attack/css/style.css'%}" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- =======================================================
         Theme Name: Bell
         Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
         Author: BootstrapMade.com
         Author URL: https://bootstrapmade.com
         ======================================================= -->
      <script>
         // $(document).ready(function(){
         //     $("#sub").click(function(){
         //         $("#change").load("{% static 'heart_attack/css/content.txt' %}");
         //     });
         // });
         // function cpvalidate() {
         //  var x = document.getElementById("cp").value;
         //  if (isNaN(x) || x < 1 || x > 4) {
         //    text = "Input not valid";
         //    }else{
         //      text="";
         //    }
         //    document.getElementById("cpmsg").innerHTML = text;
         //  }
         //  function cavalidate() {
         //  var x = document.getElementById("ca").value;
         //  if (isNaN(x) || x < 0 || x > 3) {
         //    text = "Input not valid";
         //    }else{
         //      text="";
         //    }
         //    document.getElementById("camsg").innerHTML = text;
         //  }
      </script> 
   </head>