{% load staticfiles %}
<footer class="site-footer">
         <div class="bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                     <p class="copyright-text">
                        © HeartWatch - 2017
                     </p>
                  </div>
                  <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                     <ul class="list-inline">
                        <li class="list-inline-item">
                           <a href="{% url 'heart_attack:index' %}">Home</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#about">About Us</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#features">Description</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#change">Get Started</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#team">Team</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#contact">Contact</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
