{% load staticfiles %}
<!-- Header -->
<header id="header">
         <div class="container">
            <div id="logo" class="pull-left">
               <a href="{% url 'heart_attack:index' %}"><img src="{% static 'heart_attack/img/logo-nav.png'%}" alt="" title=""  /></img></a>
               <!-- Uncomment below if you prefer to use a text image -->
               <!--<h1><a href="#hero">Bell</a></h1>-->
            </div>
            <nav id="nav-menu-container">
               <ul class="nav-menu">
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#features">Description</a></li>
                  <li><a href="#change">Get Started</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#contact">Contact Us</a></li>
               </ul>
            </nav>
            <!-- #nav-menu-container -->
            <nav class="nav social-nav pull-right d-none d-lg-inline">
               <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>
         </div>
      </header>

    <!-- #header -->
