  {% load staticfiles %}
  {%include 'heart_attack/base.html'%}
   <body>
      <!-- Page Content
         ================================================== -->
      <!-- Hero -->
      <section class="hero">
         <div class="container text-center">
            <div class="row">
               <div class="col-md-12">
                  <a class="hero-brand" href="{% url 'heart_attack:index' %}" title="Home"><img alt="Bell Logo" src="{% static 'heart_attack/img/logo.png'%}" style="width:50%;height: 50%"></a>
               </div>
            </div>
            <div class="col-md-12">
               <h1>
                  A Platform to test your Heart.
               </h1>
               <p class="tagline">
                  Love the pump, which pumps your life.
               </p>
               <a class="btn btn-full" href="#change">Get Started Now</a>
            </div>
         </div>
      </section>
      <!-- /Hero -->
      <!-- Header -->
      {% include 'heart_attack/header.html' %}
      <!-- #header -->
      <!-- About -->
      <section class="about" id="about">
         <div class="container text-center">
            <h2>
               About HeartWatch
            </h2>
            <p>
               HeartWatch is a platform which is build to test your heart and the risk which it is going through right now. It is easy to use and very simple to understand. It is meant to eliminate the cost of consulting a doctor just to evaluate the reports of your tests. Feel free to contact us in any circumstances regarding any misconception about the platform.
            </p>
            <div class="row stats-row">
               <div class="stats-col text-center col-md-4 col-sm-6">
                  <div class="circle">
                     <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
                  </div>
               </div>
               <div class="stats-col text-center col-md-4 col-sm-6">
                  <div class="circle">
                     <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
                  </div>
               </div>
               <div class="stats-col text-center col-md-4 col-sm-6">
                  <div class="circle">
                     <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /About -->
      <!-- Parallax -->
      <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="{% static 'heart_attack/img/parallax-bg.jpg'%}" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
        <br><br><br><br>
         <h1>
            Welcome to the Platform.
         </h1>

         <!-- <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="{% static 'heart_attack/img/gadgets.png'%}"> -->

      </div>
      <!-- /Parallax -->
      <!-- Features -->
      <section class="features" id="features">
         <div class="container">
            <h2 class="text-center">
               Description
            </h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Field Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Full Name</td>
                  <td>Name of the Applicant</td>
                </tr>
                <tr>
                  <td>Age</td>
                  <td>Age of the Applicant</td>
                </tr>
                <tr>
                  <td>Sex</td>
                  <td>Gender of the Applicant</td>
                </tr>
                <tr>
                  <td>Chest Pain Type</td>
                  <td>Chest pain type as follows:
                    <ul>
                      <li>Value 1: Typical Angina </li>
                      <li>Value 2: Atypical Angina</li>
                      <li>Value 3: Non-anginal Pain</li>
                      <li>Value 4: Asymptomatic</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Trestbps</td>
                  <td>Resting Blood Pressure (in mm Hg on admission to the hospital)</td>
                </tr>
                <tr>
                  <td>Cholesterol</td>
                  <td>Serum Cholestoral in mg/dl</td>
                </tr>
                <tr>
                  <td>Fasting Blood Sugar</td>
                  <td>Is Fasting Blood sugar > 120 mg/dl:
                    <ul>
                      <li>Value 1: True</li>
                      <li>Value 0: False</li>
                    </ul>
                   </td>
                </tr>
                <tr>
                  <td>Resting Electrocardiographic Results</td>
                  <td>
                    <ul>
                      <li>Value 0: Normal</li>
                      <li>Value 1: Having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)</li>
                      <li>Value 2: Showing probable or definite left ventricular hypertrophy by Estes' criteria</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Thalch</td>
                  <td>Maximum Heart Rate Achieved </td>
                </tr>
                <tr>
                  <td>Exercise Induced Angina:</td>
                  <td>
                    <ul>
                      <li>Value 1: Yes</li>
                      <li>Value 0: No</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Oldpeak:</td>
                  <td>
                    ST depression induced by exercise relative to rest
                  </td>
                </tr>
                <tr>
                  <td>Slope:</td>
                  <td>
                    <ul>The slope of the peak exercise ST segment:
                      <li>Value 1: Upsloping</li>
                      <li>Value 2: Flat</li>
                      <li>Value 3: Downsloping</li>
                  </td>
                </tr>
                <tr>
                  <td>CA:</td>
                  <td>
                     Number of Major Vessels (0-3) colored by Flourosopy
                  </td>
                </tr>
                <tr>
                  <td>Thal:</td>
                  <td>
                    <ul>
                      <li>Value 3: Normal</li>
                      <li>Value 6: Fixed Defect</li>
                      <li>Value 7: Reversable Defect </li>
                    </ul>
                  </td>
                </tr>
              </tbody>

            </table>
         </div>
      </section>
      <!-- /Features -->
      <!-- Portfolio -->
      <!--<section class="portfolio" id="portfolio">
         <div class="container text-center">
           <h2>
               Portfolio
             </h2>

           <p>

           </p>
         </div>

         <div class="portfolio-grid">
           <div class="row">
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-1.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">

                       </p>
                     </div>
                   </div></a>
               </div>
             </div>

             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-2.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">

                       </p>
                     </div>
                   </div></a>
               </div>
             </div>

             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-3.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">

                       </p>
                     </div>
                   </div></a>
               </div>
             </div>

             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-4.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">

                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-5.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>

             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-6.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>

             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-7.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>

             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-8.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>

                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
           </div>
         </div>
         </section>-->
      <!-- /Portfolio -->

      <!-- Execution -->

      <div style="background-color: #edf6ff;margin-bottom: -20" class="container-fluid">
          <div class="container" id="change">
              <h2 class="text-center" style="color: #199EB8;margin-bottom: 5px;padding-top:65px">
                Get Started
              </h2>
              <div class="text-danger" align="center"><h4>Please Read the Description Before filling the form</h4></div><br><br><br>


                <form class="form-horizontal" role="form" action="/insert_user/" method="post" enctype="multipart/form-data" style="padding-bottom: 65px;">
                {% csrf_token %}
                {% include 'heart_attack/form_template_v2.html' %}
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                  </div>
                </form>

        </div>
      </div>

      <!--Execution-->

     <!--  <script type="text/javascript">
        // $(document).on('submit','#form_template',function(e){
        //     e.preventDefault();


        //     $.ajax({
        //       type:'POST',
        //       url:'/insertuser/',
        //       data:{
        //           age: $('#age').val(),
        //           sex: $('input[name=sex]:checked').val(),
        //           cp_type : $('#cp_type').val(),
        //           trest_bps: $('#trest_bps').val(),
        //           chol: $('#chol').val(),
        //           fps:  $('input[name=fps]:checked').val(),
        //           rer: $('input[name=rer]:checked').val(),
        //           thalch: $('#thalch').val(),
        //           eia: $('input[name=eia]:checked').val(),
        //           oldpeak: $('#oldpeak').val(),
        //           slope:  $('input[name=slope]:checked').val(),
        //           ca: $('#ca').val(),
        //           thal: $('input[name=thal]:checked').val(),
        //           ads: $('input[name=ads]:checked').val(),
        //           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

        //       },
        //       success.function(params) {

        //       }

        //     });

        // });


      </script> -->
      <!-- Team
      <section class="team" id="team">
         <div class="container">
            <h2 class="text-center">
               Meet our team
            </h2>
            <div class="row">
               <div class="col-sm-4 col-xs-6">
                  <div class="card card-block">
                     <a href="#">
                        <img alt="" class="team-img" src="{% static 'heart_attack/img/team-1.jpg'%}">
                        <div class="card-title-wrap">
                           <span class="card-title">Yatri Bhatt</span> <span class="card-text">Developer</span>
                        </div>
                        <div class="team-over">
                           <h4 class="hidden-md-down">
                              Connect with me
                           </h4>
                           <nav class="social-nav">
                     <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                     </nav>
                     <p>
                     .
                     </p>
                     </div>
                     </a>
                  </div>
               </div>
               <div class="col-sm-4 col-xs-6">
                  <div class="card card-block">
                     <a href="#">
                        <img alt="" class="team-img" src="{% static 'heart_attack/img/team-2.jpg'%}">
                        <div class="card-title-wrap">
                           <span class="card-title">Srineel Soni</span> <span class="card-text">Developer</span>
                        </div>
                        <div class="team-over">
                           <h4 class="hidden-md-down">
                              Connect with me
                           </h4>
                           <nav class="social-nav">
                     <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                     </nav>
                     <p>
                     .
                     </p>
                     </div>
                     </a>
                  </div>
               </div>
               <div class="col-sm-4 col-xs-6">
                  <div class="card card-block">
                     <a href="#">
                        <img alt="" class="team-img" src="{% static 'heart_attack/img/team-3.jpg'%}">
                        <div class="card-title-wrap">
                           <span class="card-title">Nidhi Mathur</span> <span class="card-text"></span>
                        </div>
                        <div class="team-over">
                           <h4 class="hidden-md-down">
                              Connect with me
                           </h4>
                           <nav class="social-nav">
                     <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                     </nav>
                     <p>
                     .
                     </p>
                     </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      /Team -->
      <!-- @component: footer -->
      <section id="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2 class="section-title">Contact Us</h2>
               </div>
            </div>
            <div class="row justify-content-center" >
               <div class="col-lg-3 col-md-4">
                  <div class="info">
                     <div>
                        <i class="fa fa-map-marker"></i>
                        <p style="font-size: 16px;">LJ Institute of Engg and Technology<br>Ahmedabad, 380024</p>
                     </div>
                     <div>
                        <i class="fa fa-envelope"></i>
                        <p style="font-size: 16px;">support@heartwatch.com</p>
                     </div>
                     <div>
                        <i class="fa fa-phone"></i>
                        <p style="font-size: 16px;">079 2260 7798</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9 col-md-8">
                  <div class="form">
                     <div id="sendmessage">Your message has been sent. Thank you!</div>
                     <div id="errormessage"></div>
                     <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                           <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                           <div class="validation"></div>
                        </div>
                        <div class="form-group">
                           <input type=""  class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                           <div class="validation"></div>
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                           <div class="validation"></div>
                        </div>
                        <div class="form-group">
                           <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                           <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--Footer-->
      {% include 'heart_attack/footer.html' %}
      <!--/Footer-->

      <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>
      <!-- Required JavaScript Libraries -->
      <script src="{% static 'heart_attack/lib/jquery/jquery.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/jquery/jquery-migrate.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/superfish/hoverIntent.js'%}"></script>
      <script src="{% static 'heart_attack/lib/superfish/superfish.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/tether/js/tether.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/stellar/stellar.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/counterup/counterup.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/waypoints/waypoints.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/easing/easing.js'%}"></script>
      <script src="{% static 'heart_attack/lib/stickyjs/sticky.js'%}"></script>
      <script src="{% static 'heart_attack/lib/parallax/parallax.js'%}"></script>
      <script src="{% static 'heart_attack/lib/lockfixed/lockfixed.min.js'%}"></script>
      <!-- Template Specisifc Custom Javascript File -->
      <script src="{% static 'heart_attack/js/custom.js'%}"></script>
      <script src="{% static 'heart_attack/contactform/contactform.js'%}"></script>
   </body>
</html>
