{% load staticfiles %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>HeartWatch</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">
      <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
      <meta property="og:title" content="">
      <meta property="og:image" content="">
      <meta property="og:url" content="">
      <meta property="og:site_name" content="">
      <meta property="og:description" content="">
      <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="">
      <meta name="twitter:title" content="">
      <meta name="twitter:description" content="">
      <meta name="twitter:image" content="">
      <!-- Favicon -->
      <link href="{% static 'img/favicon.ico'%}" rel="icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
      <!-- Bootstrap CSS File -->
      <link href="{% static 'heart_attack/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
      <!-- Libraries CSS Files -->
      <link href="{% static 'heart_attack/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
      <!-- Main Stylesheet File -->
      <link href="{% static 'heart_attack/css/style.css'%}" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- =======================================================
         Theme Name: Bell
         Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
         Author: BootstrapMade.com
         Author URL: https://bootstrapmade.com
         ======================================================= -->
      <script>
         // $(document).ready(function(){
         //     $("#sub").click(function(){
         //         $("#change").load("{% static 'heart_attack/css/content.txt' %}");
         //     });
         // });
         // function cpvalidate() {
         //  var x = document.getElementById("cp").value;
         //  if (isNaN(x) || x < 1 || x > 4) {
         //    text = "Input not valid";
         //    }else{
         //      text="";
         //    }
         //    document.getElementById("cpmsg").innerHTML = text;
         //  }
         //  function cavalidate() {
         //  var x = document.getElementById("ca").value;
         //  if (isNaN(x) || x < 0 || x > 3) {
         //    text = "Input not valid";
         //    }else{
         //      text="";
         //    }
         //    document.getElementById("camsg").innerHTML = text;
         //  }
      </script> 
   </head>
   <body>
      <!-- Page Content
         ================================================== -->
      <!-- Hero -->
      <section class="hero">
         <div class="container text-center">
            <div class="row">
               <div class="col-md-12">
                  <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="{% static 'heart_attack/img/logo.png'%}" style="width:50%;height: 50%"></a>
               </div>
            </div>
            <div class="col-md-12">
               <h1>
                  A Platform to test your Heart.
               </h1>
               <p class="tagline">
                  Love the pump, which pumps your life.
               </p>
               <a class="btn btn-full" href="#change">Get Started Now</a>
            </div>
         </div>
      </section>
      <!-- /Hero -->
      <!-- Header -->
      <header id="header">
         <div class="container">
            <div id="logo" class="pull-left">
               <a href="index.html"><img src="{% static 'heart_attack/img/logo-nav.png'%}" alt="" title=""  /></img></a>
               <!-- Uncomment below if you prefer to use a text image -->
               <!--<h1><a href="#hero">Bell</a></h1>-->
            </div>
            <nav id="nav-menu-container">
               <ul class="nav-menu">
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#form1">Get Started</a></li>
                  <li><a href="#team">Team</a></li>
                  <li><a href="#contact">Contact Us</a></li>
               </ul>
            </nav>
            <!-- #nav-menu-container -->
            <nav class="nav social-nav pull-right d-none d-lg-inline">
               <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>
         </div>
      </header>
      <!-- #header -->
      <!-- About -->
      <section class="about" id="about">
         <div class="container text-center">
            <h2>
               About HeartWatch
            </h2>
            <p>
               HeartWatch is a platform which is build to test your heart and the risk which it is going through right now. It is easy to use and very simple to understand. It is meant to eliminate the cost of consulting a doctor just to evaluate the reports of your tests. Feel free to contact us in any circumstances regarding any misconception about the platform. 
            </p>
            <div class="row stats-row">
               <div class="stats-col text-center col-md-4 col-sm-6">
                  <div class="circle">
                     <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
                  </div>
               </div>
               <div class="stats-col text-center col-md-4 col-sm-6">
                  <div class="circle">
                     <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
                  </div>
               </div>
               <div class="stats-col text-center col-md-4 col-sm-6">
                  <div class="circle">
                     <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /About -->
      <!-- Parallax -->
      <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="{% static 'heart_attack/img/parallax-bg.jpg'%}" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
         <h2>
            Welcome to the Platform.
         </h2>
         <p>
            This is the most powerful website with thousands of options that you have never seen before.
         </p>
         <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="{% static 'heart_attack/img/gadgets.png'%}">
      </div>
      <!-- /Parallax -->
      <!-- Features -->
      <section class="features" id="features">
         <div class="container">
            <h2 class="text-center">
               Features
            </h2>
            <div class="row">
               <div class="feature-col col-lg-4 col-xs-12">
                  <div class="card card-block text-center">
                     <div>
                        <div class="feature-icon">
                           <span class="fa fa-rocket"></span>
                        </div>
                     </div>
                     <div>
                        <h3>
                           Custom Design
                        </h3>
                        <p>
                           This application is build with the target of simplified user experience.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="feature-col col-lg-4 col-xs-12">
                  <div class="card card-block text-center">
                     <div>
                        <div class="feature-icon">
                           <span class="fa fa-envelope"></span>
                        </div>
                     </div>
                     <div>
                        <h3>
                           Responsive Layout
                        </h3>
                        <p>
                           It is suitable to any device irrespective the size of the screen used.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="feature-col col-lg-4 col-xs-12">
                  <div class="card card-block text-center">
                     <div>
                        <div class="feature-icon">
                           <span class="fa fa-bell"></span>
                        </div>
                     </div>
                     <div>
                        <h3>
                           Innovative Ideas
                        </h3>
                        <p>
                           The back end functionality runs on some out of the box algorithms which enhance the accuracy.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="feature-col col-lg-6 col-xs-12">
                  <div class="card card-block text-center">
                     <div>
                        <div class="feature-icon">
                           <span class="fa fa-database"></span>
                        </div>
                     </div>
                     <div>
                        <h3>
                           Good Documentation
                        </h3>
                        <p>
                           Report of your tests will be well documented with proper guidelines.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="feature-col col-lg-6 col-xs-12">
                  <div class="card card-block text-center">
                     <div>
                        <div class="feature-icon">
                           <span class="fa fa-cutlery"></span>
                        </div>
                     </div>
                     <div>
                        <h3>
                           Precautionay Measures
                        </h3>
                        <p>
                           The main aim is to reduce the risk thus according precautions will be mentioned
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /Features -->
      <!-- Portfolio -->
      <!--<section class="portfolio" id="portfolio">
         <div class="container text-center">
           <h2>
               Portfolio
             </h2>
         
           <p>
             
           </p>
         </div>
         
         <div class="portfolio-grid">
           <div class="row">
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-1.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
         
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-2.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
         
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-3.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
         
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-4.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
           </div>
         
           <div class="row">
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-5.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
         
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-6.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
         
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-7.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
         
             <div class="col-lg-3 col-sm-6 col-xs-12">
               <div class="card card-block">
                 <a href="#"><img alt="" src="{% static 'heart_attack/img/porf-8.jpg'%}">
                   <div class="portfolio-over">
                     <div>
                       <h3 class="card-title">
                         The Dude Rockin'
                       </h3>
         
                       <p class="card-text">
                         .
                       </p>
                     </div>
                   </div></a>
               </div>
             </div>
           </div>
         </div>
         </section>-->
      <!-- /Portfolio -->
      {% include 'heart_attack/form_template.html' %}

      <script type="text/javascript">
        $(document).on('submit','#form_template',function(e){
            e.preventDefault();


            $.ajax({
              type:'POST',
              url:'/insertuser/',
              data:{
                  age: $('#age').val(),
                  sex: $('input[name=sex]:checked').val(),
                  cp_type : $('#cp_type').val(),
                  trest_bps: $('#trest_bps').val(),
                  chol: $('#chol').val(),
                  fps:  $('input[name=fps]:checked').val(),
                  rer: $('input[name=rer]:checked').val(),
                  thalch: $('#thalch').val(),
                  eia: $('input[name=eia]:checked').val(),
                  oldpeak: $('#oldpeak').val(),
                  slope:  $('input[name=slope]:checked').val(),
                  ca: $('#ca').val(),
                  thal: $('input[name=thal]:checked').val(),
                  ads: $('input[name=ads]:checked').val(),
                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

              },
              success.function(params) {
                
              }

            });

        });


      </script>
      <!-- Team -->
      <section class="team" id="team">
         <div class="container">
            <h2 class="text-center">
               Meet our team
            </h2>
            <div class="row">
               <div class="col-sm-4 col-xs-6">
                  <div class="card card-block">
                     <a href="#">
                        <img alt="" class="team-img" src="{% static 'heart_attack/img/team-1.jpg'%}">
                        <div class="card-title-wrap">
                           <span class="card-title">Yatri Bhatt</span> <span class="card-text">Developer</span>
                        </div>
                        <div class="team-over">
                           <h4 class="hidden-md-down">
                              Connect with me
                           </h4>
                           <nav class="social-nav">
                     <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                     </nav>
                     <p>
                     .
                     </p>
                     </div>
                     </a>
                  </div>
               </div>
               <div class="col-sm-4 col-xs-6">
                  <div class="card card-block">
                     <a href="#">
                        <img alt="" class="team-img" src="{% static 'heart_attack/img/team-2.jpg'%}">
                        <div class="card-title-wrap">
                           <span class="card-title">Srineel Soni</span> <span class="card-text">Developer</span>
                        </div>
                        <div class="team-over">
                           <h4 class="hidden-md-down">
                              Connect with me
                           </h4>
                           <nav class="social-nav">
                     <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                     </nav>
                     <p>
                     .
                     </p>
                     </div>
                     </a>
                  </div>
               </div>
               <div class="col-sm-4 col-xs-6">
                  <div class="card card-block">
                     <a href="#">
                        <img alt="" class="team-img" src="{% static 'heart_attack/img/team-3.jpg'%}">
                        <div class="card-title-wrap">
                           <span class="card-title">Nidhi Mathur</span> <span class="card-text"></span>
                        </div>
                        <div class="team-over">
                           <h4 class="hidden-md-down">
                              Connect with me
                           </h4>
                           <nav class="social-nav">
                     <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                     </nav>
                     <p>
                     .
                     </p>
                     </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- /Team -->
      <!-- @component: footer -->
      <section id="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2 class="section-title">Contact Us</h2>
               </div>
            </div>
            <div class="row justify-content-center" >
               <div class="col-lg-3 col-md-4">
                  <div class="info">
                     <div>
                        <i class="fa fa-map-marker"></i>
                        <p>LJ Institute of Engg and Technology<br>Ahmedabad, 380024</p>
                     </div>
                     <div>
                        <i class="fa fa-envelope"></i>
                        <p>support@heartwatch.com</p>
                     </div>
                     <div>
                        <i class="fa fa-phone"></i>
                        <p>079 2260 7798</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-5 col-md-8">
                  <div class="form">
                     <div id="sendmessage">Your message has been sent. Thank you!</div>
                     <div id="errormessage"></div>
                     <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                           <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                           <div class="validation"></div>
                        </div>
                        <div class="form-group">
                           <input type=""  class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                           <div class="validation"></div>
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                           <div class="validation"></div>
                        </div>
                        <div class="form-group">
                           <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                           <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <footer class="site-footer">
         <div class="bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                     <p class="copyright-text">
                        © HeartWatch - 2017
                     </p>
                  </div>
                  <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                     <ul class="list-inline">
                        <li class="list-inline-item">
                           <a href="index.html">Home</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#about">About Us</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#features">Features</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#form1">Get Started</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#team">Team</a>
                        </li>
                        <li class="list-inline-item">
                           <a href="#contact">Contact</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>
      <!-- Required JavaScript Libraries -->
      <script src="{% static 'heart_attack/lib/jquery/jquery.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/jquery/jquery-migrate.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/superfish/hoverIntent.js'%}"></script>
      <script src="{% static 'heart_attack/lib/superfish/superfish.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/tether/js/tether.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/stellar/stellar.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/counterup/counterup.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/waypoints/waypoints.min.js'%}"></script>
      <script src="{% static 'heart_attack/lib/easing/easing.js'%}"></script>
      <script src="{% static 'heart_attack/lib/stickyjs/sticky.js'%}"></script>
      <script src="{% static 'heart_attack/lib/parallax/parallax.js'%}"></script>
      <script src="{% static 'heart_attack/lib/lockfixed/lockfixed.min.js'%}"></script>
      <!-- Template Specisifc Custom Javascript File -->
      <script src="{% static 'heart_attack/js/custom.js'%}"></script>
      <script src="{% static 'heart_attack/contactform/contactform.js'%}"></script>
   </body>
</html>