{% include 'heart_attack/base.html' %}
<body>
	{% include 'heart_attack/result_header.html' %}

    	<div style="background-color: #edf6ff;margin-bottom: 0" class="container-fluid">
    		<center><h1 class="text-danger">Class: 4</h1>
				<form class="form-horizontal" action="{% url 'heart_attack:index'%}">
					<button type="submit" class="btn btn-success" style="margin-bottom:20px">TEST AGAIN</button>
				</form>
    	</div>
		</center>

    <div style="position:absolute;left: 0;bottom:0;height: 100px;width: 100%;overflow:hidden;">
    {% include 'heart_attack/result_footer.html' %}
	</div>
</body>
</html>
